<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Sklep internetowy z panelem administracyjnym</title>

<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>

	<div id="container">

        <div id="Sklep">
        	<a>Sklep internetowy</a>
        </div>
        <div id="login">
            <ul>
            <li><a href="#">ZAREJESTRUJ SIĘ</a></li>
            <li><a href="#">ZALOGUJ SIĘ</a></li>
            </ul>
        </div>
        <div id="header_menu">
        	<ul>
            	<li><a href="#">Strona główna</a></li>
                <li><a href="#">Produkt_1</a></li>
                <li><a href="#">Produkt_2</a></li>
                <li><a href="#">Produkt_3</a></li>
            </ul>
        </div>
        <div id="image">
            <img src="images/shop.jpg"/>
        </div>
	</div>
    <hr />


    <div id="boxy">
    <div id="boxy_box_1">
    		<h2>Twoje konto</h2>
            <p>
            <a href="#">Zaloguj się</a>
            <p><a href="#">Informacje o zamówieniu</a></p>
           <p><a href="#">Zarejestruj się</a></p>
            </p>
    </div>
    <div id="boxy_box_2">
    		<h2>Informacje</h2>
            <p>
            <a href="#">Zwroty</a>
            <p><a href="#">Reklamacje</a></p>
            </p>
    </div>
    <div id="boxy_box_3">
    		<h2>O Nas</h2>
            <p>
            <a href="#">Kontakt</a>
            <p><a href="#">Co sprzedajemy</a></p>
            </p>
    </div>
    </div>
    </div>
</body>
</html>
