{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Sklep internetowy z panelem administracyjnym</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
 
</head>

<body>

	<div id="container">

        <div id="Sklep">
            <a href="{% url 'home' %}"></a><img src="{% static 'images/super_logo.png'%}" style="width:30%"></a>
        <div id="login_1">
            <ul>
                <li><a href="{% url 'login' %}">ZALOGUJ SIĘ</a></li>
            </ul>
        <div id="login_2">
            <ul>
                <li><a href="{% url 'signup' %}">ZAREJESTRUJ SIĘ</a></li>
                <li><a href="{% url 'logout' %}">WYLOGUJ SIĘ</a></li>
                <li><a href="{% url 'settings' %}">USTAWIENIA</a></li>
            </ul>

        </div>
        </div>
        <div id="header_menu">
        	<ul>
            	<li><a href="{% url 'home' %}">Strona główna</a></li>
                <li><a href="{% url 'all_products' %}">Wyszukiwarka</a></li>
                <li><a href="{% url 'add' %}">Dodaj swój samochód</a></li>
                <li><a href="{% url 'contact' %}">Kontakt</a></li>
            </ul>
        </div>

    </div>
         <!-- Slideshow -->
 <div class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="{% static 'images/baner1a.jpg' %}" style="width:100%">

    </div>
  
    <div class="mySlides fade">
      <img src="{% static 'images/baner2a.jpg' %}" style="width:100%">

    </div>
  
    <div class="mySlides fade">
      <img src="{% static 'images/baner3.jpg' %}" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

<br>
<br>
<hr>

{% block site_title %}

{% endblock %}

{% block text_area %}

{% endblock %}

<hr>


    <div id="footer">
        <p>
        <a href="https://sdacademy.pl/" > Software Development Academy</a>
        </p>
        
    </div>
    <button onclick="myFunction()">Toggle dark mode</button>

    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>
    
    </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

