{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Sklep internetowy z panelem administracyjnym</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>

	<div id="container">

        <div id="Sklep">
        	<a>Sklep internetowy</a>
        </div>
        <div id="login">
            Użytkownik: {{ user.username }}
            <ul>
            <li><a href="{% url 'signup' %}">ZAREJESTRUJ SIĘ</a></li>
            <li><a href="{% url 'login' %}">ZALOGUJ SIĘ</a></li>
            <li><a href="{% url 'logout' %}">WYLOGUJ SIĘ</a></li>
            <li><a href="{% url 'settings' %}">USTAWIENIA</a></li>
            </ul>
        </div>
        <div id="header_menu">
        	<ul>
            	<li><a href="{% url 'home' %}">Strona główna</a></li>
                <li><a href="{% url 'produkt1' %}">Produkt_1</a></li>
                <li><a href="{% url 'produkt2' %}">Produkt_2</a></li>
                <li><a href="{% url 'produkt3' %}">Produkt_3</a></li>
            </ul>
        </div>

        <div id="site_title">
            {% block site_title %}
            {% endblock %}
        </div>

        <div id="text_area">
            {% block text_area %}
            {% endblock %}
        </div>

	</div>
    <hr />


    <div id="boxy">
    <div id="boxy_box_1">
    		<h2>Twoje konto</h2>
            <p>
            <a href="#">Zaloguj się</a>
            <p><a href="{% url 'informacje-o-zamowieniu' %}">Informacje o zamówieniu</a></p>
           <p><a href="#">Zarejestruj się</a></p>
            </p>
    </div>
    <div id="boxy_box_2">
    		<h2>Informacje</h2>
            <p>
            <a href="{% url 'zwroty' %}">Zwroty</a>
            <p><a href="{% url 'reklamacje' %}">Reklamacje</a></p>
            </p>
    </div>
    <div id="boxy_box_3">
    		<h2>O Nas</h2>
            <p>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <p><a href="{% url 'co-sprzedajemy' %}">Co sprzedajemy</a></p>
            </p>
    </div>
    </div>
    </div>
</body>
</html>
