{% extends 'core/base.html' %} {% load static %}

{% block site_title %}


{% endblock %}

{% block text_area %}

    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9268.888865284103!2d18.5388193!3d54.4943036!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2a1b60d415539d45!2sSoftware%20Development%20Academy!5e0!3m2!1spl!2spl!4v1614875357350!5m2!1spl!2spl" width="500" height="350" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        <div id="contacts">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p><b>&nbsp;&nbsp;&nbsp;Adres:</b> Al. Zwycięstwa 96/98 Gdynia</p></p>
          <p><b>&nbsp;&nbsp;&nbsp;Telefon:</b> +48 58 782 48 88</p>
          <p><b>&nbsp;&nbsp;&nbsp;E-mail:</b> info@sdacademy.pl</p>
            </div>
      </div>
{% endblock %}
