{% extends 'core/base.html' %} {% load static %}

{% block site_title %}

{% endblock %}

{% block text_area %}

   <div id="second_banner">
            <img src="{% static 'images/car_banner.jpg' %}" width= "350%" height="300"/>
            <div id="opis">
                <h1>&nbsp;&nbsp;&nbsp;O nas </h1>
                <p>&nbsp;&nbsp;&nbsp;"Poszukujesz samochodu? Planujesz zmianę samochodu &nbsp;&nbsp;&nbsp;na nowszy model ? a może szukasz swojego pierwsze &nbsp;&nbsp;&nbsp;auta?
                    Zapraszamy do naszego komisu &nbsp;&nbsp;&nbsp;samochodowego!!!.</p>
                <p>&nbsp;&nbsp;&nbsp;W swojej ofercie posiadamy samochody używane &nbsp;&nbsp;&nbsp;wszystkich marek, samochody krajowe, ubezpieczone i &nbsp;&nbsp;&nbsp;zarejestrowane.
                    Naszym głównym atutem jest fakt iż &nbsp;&nbsp;&nbsp;wszystkie samochody są czyste i zadbany oraz &nbsp;&nbsp;&nbsp;sprawdzone pod względem technicznym
                    i lakierniczym &nbsp;&nbsp;&nbsp;przez naszych pracowników.</p>
                <p>&nbsp;&nbsp;&nbsp;Każdy samochód w naszym komisie aut używanych &nbsp;&nbsp;&nbsp;można sprawdzić na dowolnej stacji diagnostycznej,
                    &nbsp;&nbsp;&nbsp;istnieje również możliwość sprawdzenia stanu &nbsp;&nbsp;&nbsp;technicznego samochodu podczas jazdy próbnej za &nbsp;&nbsp;&nbsp;kierownicą samochodu.
                   Każdemu klientowi udostępniamy &nbsp;&nbsp;&nbsp;czujniki grubości lakieru.</p>
                <p>&nbsp;&nbsp;&nbsp;Nasz komis na runku działa już od wielu lat, cieszy się &nbsp;&nbsp;&nbsp;dobrą opinią, a nasi klienci stale nas polecają
                    i wracają po &nbsp;&nbsp;&nbsp;zakup kolejnych samochodów. Zaletą naszego komisu są &nbsp;&nbsp;&nbsp;przeszkoleni pracownicy którzy ukończyli wiele kursów
                    i &nbsp;&nbsp;&nbsp;certyfikatów dzięki czemu dogłębnie sprawdzają &nbsp;&nbsp;&nbsp;samochody oraz informują o stanie faktycznym &nbsp;&nbsp;&nbsp;nabywanego samochód".</p>
                <p>&nbsp;&nbsp;&nbsp;SERDECZNIE ZAPRASZAMY!</p>
            </div>
        </div>


{% endblock %}
