{% extends 'core/base.html' %} {% load static %}

{% block site_title %}

Home

{% endblock %}

{% block text_area %}

<p>

</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut lectus dolor. Vivamus in massa et nisl vehicula
    vehicula non ac quam. Phasellus molestie pellentesque velit, a tristique ligula fermentum ut. Suspendisse gravida
    ultrices massa, a feugiat felis condimentum id. Etiam nec vehicula elit. Etiam quis erat libero. Mauris id convallis
    odio. Quisque tristique sed tortor id gravida. Vestibulum eget condimentum enim, sit amet condimentum enim. In
    volutpat magna eget mollis laoreet. Pellentesque id suscipit erat. Donec euismod venenatis pharetra. Nulla eu erat
    ac neque laoreet fringilla et ut mi. Proin non bibendum massa. Donec pretium augue metus, a dignissim justo
    imperdiet blandit.
<p>
    Cras et felis dictum, sollicitudin purus ut, lobortis ligula. Quisque vulputate elementum vestibulum. Mauris vel
    egestas ante. Morbi vulputate mi at suscipit fringilla. Duis sit amet varius velit. Donec sed sagittis dui. Donec
    ut urna at purus ultricies aliquam.
</p>

<p>
    Nulla facilisi. Aliquam et sapien ut leo imperdiet sollicitudin. Vivamus ultrices turpis eu diam mattis congue.
    Phasellus posuere et augue eu suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer mollis, metus id consectetur
    laoreet, dolor nisi tristique sapien, id ullamcorper sapien diam sed nunc.
</p>

{% endblock %}
